# yess executable
/yess
/yess.exe
src/yess
src/yess.exe

# test executables
test/loader-test
test/memory-test
test/registers-test
test/tools-test

# tag files
src/tags
test/tags

*.d

# Object files
*.o
*.ko
*.obj
*.elf
obj/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# VS stuff
.vs/
/src/.vs/
